body {
    background-image: url("png0.png");
    background-color: rgb(102, 104, 92);
   }

h1 {
    color: rgb(0, 211, 226);
}

h2 {
    color: rgb(93, 230, 230);
}

h3 {
    color: rgb(47, 248, 255);
}